@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
	background-color: green;
}

.Container {
	width: 100%;
}

.header {
	margin-top: 50px;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	background-color: white;
}

.Logo{
	margin-left: 10%;
	width: 100%;
}
.Logo img{
	width: 80%;
}

.login {
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	margin-left: 25%;
	margin-right: 25%;
	height: 60%;
	width: 50%;
	padding-bottom: 10px;
	background-color: white;
}

.login input[type=endereco] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=numero] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=cep] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=complemento] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=bairro] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=cidade] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=estado] {
	width: 70%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button] {
	width: 73%;
	height: 30px;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	color: black;
	font-size: 16px;
	margin-left: 15%;
	padding: 4px;
	margin-top: 10px;
}

::-webkit-input-placeholder {
	color: black;
}

::-moz-input-placeholder {
	color: black;
}